html{
    --bg-color: rgb(0, 217, 255);
}

.active{
    color: darkorange;
}

img{
    min-width: 20rem; 
     max-height:18rem ;
}

option{
    text-align: center;
}

image{
    max-block-size: 20rem;
}